@import "~taro-ui/dist/style/components/badge.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.modules-header {
  width:100%;
  height: 200px;
  box-sizing: border-box;
  padding: 20px;
  .container {
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    .mission-item {
      width: 20%;
      height: 100%;
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      .icon {
        text-align: center;
      }
      .at-icon {
        font-size: 56px;
      }
    }
  }
}