.message-view {
    height: calc(100% - 170px);
    box-sizing: border-box;
    padding-top: 96px;
    .control-box {
      box-sizing: border-box;
      padding: 15px;
      position: fixed;
      top:0;
      left: 0;
      z-index: 10;
      height: auto;
      width:100%;
      background-color: #fff;
    }
    .at-segmented-control {
      height: 64px;
      position: relative;
      top:-10px;
      left: 0;
      line-height: 48px;
    }
}
