@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/nav-bar.scss";
@import "~taro-ui/dist/style/components/textarea.scss";
@import "~taro-ui/dist/style/components/image-picker.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.handle-page {
  padding-top: 90px;
  .detail-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .at-nav-bar__left-view .at-icon{
      font-size: 42px;
      position: relative;
      top: 2px;
    }
    .at-nav-bar__left-view .at-nav-bar__text{
      padding-left: 0;
    }
  }
  .btn-group {
    text-align: right;
    height: 100px;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    .at-button {
      width: 120px;
      display:inline-block;
      margin-right: 20px;
    }
  }
  .desc {
    box-sizing: border-box;
    padding: 16px 30px;
    display: flex;
    color:#333;
    font-size: 28px;
    line-height: 64px;
    position: relative;
    .label {
      width: 180px;
      text-align: right;
      box-sizing: border-box;
      padding-right: 20px;
    }
    .text {
      flex: 1;
      color:#666;
    }
  }
  .desc::after {
    content: "";
    position: absolute;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    border-bottom: 2px solid #d6e4ef;
  }
  .handle {
    box-sizing: border-box;
    padding: 0 30px;
    margin: 20px 0;
    .title {
      font-size:32px;
      color: #333;
      margin-bottom: 15px;
    }
    .at-textarea .taro-textarea {
      font-size: 24px;
      font-family: -apple-system-font,Helvetica Neue,sans-serif;
    }
  }
  > .at-button {
    width: 70%;
    margin: 40px auto;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
  }
}
