@import "~taro-ui/dist/style/components/nav-bar.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.detail-page {
  padding-top: 92px;
  .detail-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .at-nav-bar__left-view .at-icon{
      font-size: 42px;
      position: relative;
      top: 2px;
    }
    .at-nav-bar__left-view .at-nav-bar__text{
      padding-left: 0;
    }
  }
  .desc {
    box-sizing: border-box;
    padding: 16px 30px;
    display: flex;
    color:#333;
    font-size: 28px;
    line-height: 64px;
    position: relative;
    .label {
      width: 180px;
      text-align: right;
      box-sizing: border-box;
      padding-right: 20px;
    }
    .text {
      flex: 1;
      color:#666;
    }
  }
  .desc::after {
    content: "";
    position: absolute;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: none;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
    border-bottom: 2px solid #d6e4ef;
  }
}
